@using Microsoft.AspNetCore.Components.Routing
@using MudBlazor
@using BoatBookingApp.Frontend.Shared.Layout

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<Router AppAssembly="@typeof(Main).Assembly" AdditionalAssemblies="new[] { typeof(BoatBookingApp.Frontend.Shared.Pages.BoatBookingForm).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>